$baseC: #fafafa;
$elemC:#3976e5;
$borderC: #dcdbdb;
$radius: 10px;
$btn: linear-gradient(360deg, #2565d7 2.88%, #0089ff 52.54%), linear-gradient(119.64deg, #0087fd 15.38%, rgba(253,253,253,0) 24.4%);
$grad: linear-gradient(180deg, #FFFFFF 20.8%, rgba(255, 255, 255, 0) 107.3%), linear-gradient(180deg, rgba(177, 217, 254, 0) 0%, rgba(166, 212, 254, 0.212) 13.24%, rgba(203, 222, 240, 0.4) 93.77%, rgba(255, 255, 255, 0.4) 96.01%);